ul,li,a,p {
    margin:0;
    padding:0;
}

header {
    background-color:rgb(0,85,187);
    color: rgb(255, 255, 255);
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* color: rgb(255,255,255); */
}

.menu {
    display: inline-block;
    height: 50px;
}

.menu__item {
    color: rgb(0,85,187);
}

.logo, .menu--show{
    font-size: calc(11px + 1vw);
}

.logo {
    color: rgb(255, 255, 255);
    padding: 6% 10px;
    width: fit-content;
}

.menu__item, .toggle__text, .logo, .menu--show {
    font-weight: 500;
}

.menu--show {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: transparent;
    padding: calc((50px - (14px + 1vw)) / 2) 10px;
}

.menu__list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.menu__list li:hover {
    background-color: rgb(0,187,238);
}

.toggle__menu {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 767px) { 
    .header-wrapper {
        position: relative;
    }   

    .menu {
        display: block;
    }

    .menu__list {
        display: none;
    }

    .menu--show {
        display: none;
    }

    .menu__list {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }

    .toggle__menu {
        display: inline;
        position: relative;
        background-color: red;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .active {
        display: block;
    }

    .toggle__menu:active {
        background-color: rgba(255, 0, 0, 0.5);
    }
    
    .menu__list li {
        padding: 10px;
    }

    .menu__item {
        width: fit-content;
    }

    .logo {
        padding: 10px 10px;
        margin: 0;
        /* width: fit-content; */
        color: var(--post-color);
    }
}

@media (min-width: 768px) and (max-width: 999px){ 
    header {
        max-height:50px;
    }

    .menu {
        position: relative;
    }

    .menu__list li {
        padding: 15px;
    }

    .menu__list {
        display: none;
        position: absolute;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .menu:hover .menu__list {
        display: block;
    }

    .menu__item {
        padding: 10px;
    }
    
    .menu--show {
        display: block;
    }

    .logo {
        padding: 6% 10px;
        width: fit-content;
        color: var(--post-color);
    }
}

@media screen and (min-width: 1000px) {
    /* .menu--active {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        background-color: rgb(255, 255, 255);
        top: 50px;
    } */

    .menu__list {
        display: none;
        position: absolute;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .menu:hover .menu__list {
        display: block;
    }

    .menu__list li {
        padding: 15px;
    }
    
    .menu__item {
        color: rgb(0,85,187);
        cursor: pointer;
        text-align: center;
    }
}




