ul,li,a,p {
    margin:0;
    padding:0;
}

header {
    background-color:rgb(0,85,187);
    color: rgb(255, 255, 255);
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* color: rgb(255,255,255); */
}

.menu {
    display: flex;
    align-items: center;
    height: 50px;
}

.menu__list {
    display: none;
}

.menu__item {
    color: rgb(0,85,187);
}

.logo, .menu--show{
    font-size: 24px;
}

.logo {
    color: rgb(255, 255, 255);
    padding: 6% 10px;
    width: fit-content;
}

.logo_link {
    background-color: transparent;
}

.menu__item, .toggle__text, .logo, .menu--show {
    font-weight: 500;
}

.menu--show {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
}

@media screen and (min-width: 300px) and (max-width: 767px) { 
    .logo {
        font-size: 20px;
    }

    .header-wrapper {
        position: relative;
    }   

    .menu {
        display: block;
    }

    .menu__item {
        padding: 15px;
        display: block;
    }

    .menu__item:active {
        background-color: aqua;
    }

    .menu__list {
        display: none;
    }

    .menu--show {
        display: none;
    }

    .menu__list {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }

    .toggle__menu {
        display: block;
        position: relative;
        background-color: red;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .active {
        display: block;
    }

    .toggle__menu:active {
        background-color: rgba(255, 0, 0, 0.5);
    }

    .logo {
        padding: 10px 10px;
        margin: 0;
        /* width: fit-content; */
        color: var(--post-color);
    }
}

@media (min-width: 768px) and (max-width: 999px){ 
    header {
        max-height:50px;
    }

    .menu {
        position: relative;
    }

    .active {
        display: block;
    }
    
    .current {
        background-color: rgb(143, 144, 146);
    }

    .menu__list {
        /* display: none; */
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }
    
    .menu--show {
        display: block;
    }

    .menu__item {
        padding: 15px;
        color: rgb(0,85,187);
        display: block;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    
    .menu__item:active {
        background-color: aqua;
    }

    .logo {
        padding: 6% 10px;
        width: fit-content;
        color: var(--post-color);
    }
}

@media screen and (min-width: 1000px) {
    .menu {
        position: relative;
    }

    .active {
        display: block;
    }

    .menu__list {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }
    
    .menu__item {
        padding: 15px;
        color: rgb(0,85,187);
        display: block;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .menu__item:active {
        background-color: aqua;
    }

    .current {
        background-color: rgb(143, 144, 146);
    }
}




